/*****************************************
    COLORS
*****************************************/
$color-primary: #007aff;
//$color-primary: #ff2d55;

$color-violet: #ff2d55;
$color-orange-1: #ff3b30;
$color-orange: #ff9500;
$color-green: #4cd964;



/*****************************************
    LAYOUT
*****************************************/
$site-logo-vertical-padding: 25px;


/*****************************************
    OTHER
*****************************************/
$transition-links: .5s;