/*****************************************
    COLORS
*****************************************/
$color-primary: #007aff;
//$color-primary: #ff2d55;


/*****************************************
    LAYOUT
*****************************************/
$site-logo-vertical-padding: 25px;


/*****************************************
    OTHER
*****************************************/
$transition-links: .5s;